@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

*::selection{
  background: #8c58fcda; /* Disable this to switch selection color to blue */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #858585 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #858585;
  border-radius: 7px;
  border: 0px none #a09eff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #cacaca;
}


/* ====== CSS used in the Files ====== */
.radial-gradient-bg {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.whitetext {
    color: #fff9f5;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

.orangetext{
  color: rgba(255, 200, 151,1);
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

.btnhl {
  font: inherit;
  font-size: 1.2em !important;
  font-weight: 700;
  padding: 0.75em;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  /* position: absolute; */
  box-shadow: 0.2em 0.2em rgb(0, 0, 0);
  transition: all 0.1s ease-in-out;
  border: 1px rgb(0, 0, 0) solid;
  margin-top: 2rem;
  border-radius: 3px;
}
.btnhl:hover {
  box-shadow: 0.3em 0.3em rgb(0, 0, 0);
  transform: translate(-0.1em, -0.1em);
}
.btnhl:active {
  box-shadow: 0em 0em rgb(0, 0, 0);
  transform: translate(0.2em, 0.2em);
}